body {
  background: #1f242d;
  color: #00ffcc;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  font-size: 60px;
  background: #333;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffcc;
}
